services:
  flask:
    container_name: backend_sns
    build: ./backend
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - MYSQL_HOST=mysql_sns
      - MYSQL_PORT=3306
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    ports:
      - '5000:5000'
    depends_on:
      - db

  react:
    container_name: frontend_sns
    build: ./frontend
    volumes:
      - ./frontend:/app
    ports:
      - '5173:5173'
    environment:
      - CHOKIDAR_USEPOLLING=true

  db:
    container_name: mysql_sns
    image: mysql:8.0
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - '3306:3306'

volumes:
  mysql-data:
